*{
	font-family: 'Roboto', sans-serif;
}
.row{
	margin: 0;
}

/*===WELCOME===*/

/*Carousel*/
.carousel{
	height: 60vh !important;
	margin-top: 22%;
}
.titleMovil{
	margin-top: 5%;
	font-size: 52px;
	font-weight: 500;
	color:  #212121;
	line-height: 70px;
}
.description{
	font-size: 38px !important;
	color: #8f8f8f;
}
.carousel .carousel-item img{
	width: 50vw;
  height: auto;
}
.carousel .indicators .indicator-item{
	background-color: #e8e8e8;
	width: 34px;
	height: 34px;
	margin: 24px 14px;
}
.carousel .indicators .indicator-item.active{
	background-color: #f64552;
}
/*Button*/
.button-yellow{
	background-color: #fbd43b;
	margin-top: 12%;
}
.button-yellow:hover{
	background-color: #fbd43b;
}
.btn{
	height: 7vh;
	box-shadow: none;
	border-radius: 10px;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*===REGISTER NUMBER===*/

/*Information*/
.information{
	margin-top: 25%;
}
.input-field{
	margin-top: 6rem;
}
.input-field img{
	position: absolute;
	bottom: 20rem;
}
.input-field input[type=number]{
	height: 7rem;
	font-size: 3.5rem;
	text-align: center;
	box-sizing: border-box;
}
.input-field p label{
	font-size: 32px;
	left: 0;
	padding-left: 75px;
}
[type="checkbox"].filled-in:not(:checked) + label:after{
	width: 35px;
	height: 35px;
	border: 1px solid #797979;
	top: -6px;
}
[type="checkbox"].filled-in:checked + label:after{
	width: 35px;
	height: 35px;
	top: -6px;
}
[type="checkbox"].filled-in:checked + label:before{
	width: 14px;
	height: 25px;
	top: -4px;
	border-top: 4px solid transparent;
	border-left: 4px solid transparent;
	border-right: 4px solid #fff;
	border-bottom: 4px solid #fff;
}

/*===REGISTER CODE===*/

/*Information*/
.registerCode{
	margin-top: 25%;
}
.registerCode .input-field label{
	position: static;
}
.registerCode .input-field img{
	position: absolute;
	bottom: 4rem;
  	left: 4rem;
}
.registerCode #inputValidate{
	height: 7rem;
	font-size: 3.5rem;
	text-align: center;
	box-sizing: border-box;
}
.registerCode .description span{
	font-weight: 600;
	color: #5d5d5d;
}



/*===CHECKING===*/

/*Information*/
.check{
	background-color: #fbd43b;
	margin: 0;
}
/*.container{
	margin:0;
	width: 100%;
	height: 100vh;
}*/
.root{
	margin: 0;
	height: 100vh;
}
.check .col{
	height: 100vh;
	background-color: #fbd43b;
}