*{
	font-family: 'Roboto', sans-serif;
}
.row{
	margin: 0;
}

/*===WELCOME===*/

/*Carousel*/
.carousel{
	height: 60vh !important;
	margin-top: 22%;
}
.titleMovil{
	margin-top: 5%;
	font-size: 52px; /*68px;*/
	font-weight: 500;
	color:  #212121;
	line-height: 70px;
}
.description{
	font-size: 38px /*44px*/ !important;
	color: #8f8f8f;
}
.carousel .carousel-item img{
	width: 48vw;
  height: auto;
}
.carousel .indicators .indicator-item{
	background-color: #e8e8e8;
	width: 34px;
	height: 34px;
	margin: 24px 14px;
}
.carousel .indicators .indicator-item.active{
	background-color: #f64552;
}
/*Button*/
.button-yellow{
	background-color: #fbd43b;
	margin-top: 12%;
}
.btn{
	height: 7vh;
	box-shadow: none;
	border-radius: 10px;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*===REGISTER NUMBER===*/

/*Information*/
.information{
	margin-top: 25%;
}
.input-field p label{
	font-size: 30px;
	left: 0;
	padding-left: 60px;
}